@model MedicalManager.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityTime)
        </dt>

        <dd>
            @String.Format("{0:##:##}", @Model.ActivityTime)
        </dd>

    </dl>
</div>

<div>
    <table class="table">
        <tr>
            <th>Patients</th>
        </tr>
        @{
            foreach (var actrec in Model.ActivityRecords)
            {
                <tr>
                    <td>
                        <a href="/patients/details/@actrec.PatientId">@actrec.Patient.FirstName, @actrec.Patient.LastName</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
