@model IEnumerable<MedicalManager.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/activities/create" class="btn btn-default">+ Add an activity</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/activities/details/@item.ActivityId">@Html.DisplayFor(modelItem => item.ActivityType)</a>
        </td>
        <td>
            @String.Format("{0:##:##}", @item.ActivityTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActivityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActivityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActivityId })
        </td>
    </tr>
}

</table>
